.container {
    margin: 8px;
}

.error {
    display: inline-flex;
    font-size: 12px;
    padding: 2px;
    margin: 0 12px;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-radius: 2px;
}

.input {
    width: 42px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.input-error {
    composes: input;
    border: 1px solid red;
}

.items {
    display: flex;
    align-items: center;
}

.label {
    font-size: 14px;
    margin: 0 4px;
}